<div class="container">

  <div class="cabecalho">
    <h1>Qual seu pokemon ?</h1>
  </div>
<!-- TODO? Utilizando SOMENTE o FormControl  -->
<div> 
  <label>Digite o nome do pokemon: </label>

  <button class="search-button" type="submit" [disabled]="!exampleFormControl.valid" (click)="onSubmit()">Enviar</button>
</div>
<!--  -->


<!-- TODO? Utilizando o FormControl DENTRO do FormGroup  -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>Digite o nome do pokemon: </label>
    <input class="input" type="text" name="name" formControlName="name">
    <input class="input" type="text" name="name" formControlName="cep">
    <input class="input" type="text" name="name" formControlName="bairro">
    <input class="input" type="text" name="name" formControlName="estado">
    <button class="search-button" type="submit" [disabled]="!form.valid">Enviar</button>
  </form>
<!--  -->

  <div class="pokemon">
    <div *ngFor="let pokemon of searchHistory; let i = index" class="cards">
      <div class="pokemonImagem">
        <img *ngIf="pokemon.sprites?.front_default" src="{{ pokemon.sprites.front_default }}" alt="Pokemon">
      </div>
      <div class="info-pokemon">
        <p class="nomePokemon" *ngIf="pokemon">{{pokemon.name}}</p>
        <p class="nomePokemon" *ngIf="pokemon">#{{pokemon.id}}</p>
        <ul>
          <li *ngFor="let item of pokemon.types">{{ item.type.name }}</li> 
        </ul>
      </div>
      <button class="delete-button" (click)="removeFromHistory(i)">Excluir</button>
    </div>
  </div>

</div>